<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Thông tin tài khoản</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Họ và tên : {{accountName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>STK : {{accountNumber}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ngày sinh : {{dateOfBirth}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Địa chỉ : {{address}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Số dư tài khoản : {{balance}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
